* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  margin: 20px;
}

.container {
  width: 640px;
  height: 640px;
  display:flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.square {
  border: 1px solid red;
  flex:0 0 auto;
}

