@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
}

.header {
  background-color: #1F2937;

  padding: 20px 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header ul {
  list-style-type: none;

  font-size: 18px;
  color: #E5E7EB;

  display: flex;
  gap: 15px;
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: #E5E7EB;
}

.header a:hover {
  color: #F9FAF8;
}
