.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 50px;
  overflow: auto;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #EEF0F2;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.card .title {
  align-self: center;
  font-weight: bold;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form .buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs label {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: baseline;
  font-size: 0.9rem;
}

.inputs input {
  border-radius: 5px;
  border: 2px solid rgb(201, 201, 201, 1);
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-list {
  word-break: break-all;
  border: 2px solid #1C1C1C;
  padding: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.list-icons {
  display: flex;
  justify-content: center;
}

.list-icons img {
  height: 1rem;
  transition: transform 0.5s;
}

.list-icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width: 1090px) {
  .inputs label {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .options {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .options {
    overflow: visible;
    padding-bottom: 20px;
  }
}

button {
  align-self: center;
  border-radius: 5px;
  border: 2px solid rgb(201, 201, 201, 1);
  font-weight: bold;
  padding: 5px 20px;
  background-color: #EEF0F2;
  -webkit-box-shadow: 0px 9px 51px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 9px 51px -8px rgba(66, 68, 90, 1);
  box-shadow: 0px 9px 51px -8px rgba(66, 68, 90, 1);
}

button:hover {
  cursor: pointer;
  background-color: #1c1c1c40;
}
