<html>
  <head>
    <title>New form</title>
  </head>
  <body>
    <h1>New</h1>
    <form method="POST" action="/new">
      <label>
        Author
        <input name="user" type="text" required>
      </label>
      <label>
        Message
        <input name="text" type="text" required>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
