.document {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
}

.preview {
  height: 80%;
  background-color: #FFFFFF;
  aspect-ratio: 1 / 1.4142;
}


@media (max-width: 800px) {
  .preview {
    transform: scale(0.55);
  }
}

@media (max-width: 425px) {
  .preview {
    transform: scale(1);
    height: 100%;
  }
  .document {
    display: block;
    padding: 20px;
  }
}
