.game-info {
  padding-bottom: 2rem;
}

.game-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.card img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

.card:hover {
  transform: scale(1.1);
}

.character-name {
  height: 100%;
  font-size: 1.1rem;
  border-bottom: 1px solid #FEFCFA;
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .character-name {
    font-size: 1rem;
  }
}

@media(max-width: 425px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
