#root {
  display: grid;
  grid-template-columns: 30% 70%;
  min-width: 100%;
  height: 100vh;
}

@media (max-width: 1280px) {
  #root {
    grid-template-columns: 35% 65%;
  }
}

@media (max-width: 425px) {
  #root {
    display: flex;
    flex-direction: column;
  }
}
